html, body {
  height: 100%;
  width: 100%;
}

#canvas{
  background-color: lightskyblue;
  margin:auto;
  display:block;
}

button.is-centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button{
  display: flex;
  align-items: center;
  width: 50%;
}

.hidden{
  display: none;
}